<link rel="'stylesheet" href="edit-course.component.css"><main>
    <h2>Edit Course</h2>
    <div class="course">
    <form>
        
      <div>
        <label for="name">Name:</label>
        <input id="name" type="text" value="" placeholder="Enter the course name">
      </div>
      <p></p>
      <div>
        <label for="description">Description:</label><br><br>
        <textarea id="description">Description of Course </textarea>
      </div>
      <br>
      <button type="submit">Update</button>
   
    </form>
</div>
  </main><br>
  <hr>
  <footer>
    <p>&copy; 2024 Course Management System</p>
  </footer>
